@model ArticleModel
<h1>Add Article</h1>
<form method="post" action="ArticleCreate">
    <input type="text" asp-for="Content" />
    <input type="text" asp-for="Title" />
    <button type="submit">Create</button>

</form>
@*/@/////////*@
@*@@@@@*@